@import url('https://fonts.google.com/specimen/Overpass?preview.text_type=custom');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
}
.intro{
    width: 100%;
    background-image: url("./images/bg-pattern-intro.svg"), linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%)); ;
    background-repeat: no-repeat;
    background-position: center;

    border-bottom-left-radius: 120px;

    padding: 60px 30px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro .intro-headers{
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.intro .intro-headers .title, .main-component .component .title{
    font-size: 2.2rem;
    font-weight: 500;
    padding-top: 80px;
    padding-bottom: 20px;
}

.intro .intro-headers .sub-title{
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 40px;
    line-height: 1.8em;
}

.btn-group{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-bottom: 50px;
}

.btn-group .btn{
    outline: none;
    border: none;
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
    width: 120px;
    height: 40px;
    border-radius: 30px;

    font-weight: 550;
    cursor: pointer;
}

.btn-group .btn.btn-white{
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
}

.main-component{
    padding: 60px 0px;
}

.main-component .component{
    text-align: center;
    padding: 40px 0;
}

.main-component .component .title{
    font-size: 1.8rem;
    color: hsl(208, 49%, 24%);
    font-weight: 500;
    padding: 0 30px;
    padding-bottom: 30px;
}

.basic-img{
    width: 100%;
    padding: 0;
    margin: 0;
    /* background-size: cover; */
}

.component .component-content{
    line-height: 1.8em;
    color: hsl(207, 13%, 34%);
    font-weight: 300;
    padding: 0 30px;
}

.component.special-component{
    position: relative;
}

.illus-component{
    margin-top: 200px;
    background-image: url("./images/bg-pattern-circles.svg"),
    linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
    position:relative;

    background-position: left -6rem top -15rem, left;    background-repeat: no-repeat;
    background-size: 150%, 100%;
}

.phone-img{
    position: relative;
    top: -200px;
}

.illus-content{
    position: relative;
    top: -140px;
}